<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[https://ali-fir-pro-binary.fir.im/a5284db9bcaafddf81e49e70329e1499d9396c33?auth_key=1557829139-0-0-3b4b2570c28cc0fc32d26b514a0c86ef]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <integer>0</integer>
            <key>url</key>
            <string><![CDATA[https://pro-icon-qn.fir.im/7966711a2e999c832ebf49f47d73a205cd4bda7e?e=1557830939&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:hYs7FSkiupMsTLFhZ3BM8BLspsY=]]></string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string><![CDATA[https://pro-icon-qn.fir.im/7966711a2e999c832ebf49f47d73a205cd4bda7e?e=1557830939&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:hYs7FSkiupMsTLFhZ3BM8BLspsY=]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.aifeng.jwmeeting</string>
          <key>bundle-version</key>
          <string><![CDATA[1.0.3]]></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string><![CDATA[秘客]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>